@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
* {
  box-sizing: border-box;
}
body {
  display: block;
  justify-content: center;
  padding: 10px;
  background: #efefef00;
  font-family: 'Cardo', serif;
  color: #000000;
}
@media (min-width: 600px) {
  body {
    padding: 60px 10px;
  }
}
h1 {
  font-family: 'Cardo', serif;
  font-size: 64px;
  text-align: center;
  
}
h2 {
  font-family: 'Cardo', serif;
  font-size: 36px;
}
h3 {
  margin: 0;
  font-family: 'Cardo', serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 100;
}
p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}
ul {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: black;
}

.title {
 
  position: static;
}

.tabs {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #ff000000;
  /* box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3); */
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e500;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.4s, color 0.4s;
}
.label:hover {
  background: #d8d8d8;
  color:#000;
}
.label:active {
  background: #ccc;
  text-decoration: underline;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}